@supports (grid-area: auto) {

}

/*grid for the entire site*/
.blue-large-text{
  color: #2498f4;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site{
  font-family: verdana;
  display: grid;
  grid-template-columns: 5% repeat(5, 1fr) 5%;
  grid-template-rows: 35px 100px repeat(7, auto);
  grid-template-areas:
    'nav nav nav nav nav nav nav'
}



#half-circle-right{
     height:60px;
     width:30px;
     border-radius: 0 90px 90px 0;
     background: white;
     min-width: 30px;
     display: flex;
     align-items: center;
}

#half-circle-left{
     height:60px;
     width:30px;
     border-radius: 90px 0 0 90px;
     background: white;
     min-width: 30px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

/*grid placement of small light blue menu*/
.navbar-small{
  grid-column: 1/8;
  grid-row: 1/2;
  background-color: #2292eb
}

.navbar-flex{
  display: flex;
  justify-content: space-around;

}

.flex1{
    flex-basis: 40px;
}

.flex2{
  flex-basis: 120px;
}

.flex3{
  flex-basis: 20px;
}

/*contents of small light blue menu*/
.nav-text{
  color: white;
  font-size: .8em;
}
#mini{
  min-width: 100px;
}
/*grow on hover*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/*dark blue menu area with icons*/
.navbar{
  grid-column: 1/8;
  grid-row: 2/3;
  background-image: url('../img/background.png');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 50%
}
.nav-pad1{
  padding-left: 25%;
}
.nav-pad2{
  padding-right: 25%;
}
.dashboard{
  grid-column: 2/7;
  grid-row: 3/4;
  background: #33cc66;
  font-size: 25px;
  color: white;
  border-radius: 3px;
  margin-bottom: 18px;
  margin-top: 18px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

container-1 input.search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.announce{
  grid-column: 2/7;
  grid-row:4/5;

}

.orange-text{
  color: #fe8830
}

.grey-hover:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.did-you{
  background-color: #2498f4;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;

}

.padding{
  margin: 43px;

}

.tasks{
  grid-column: 2/4;
  grid-row:5/6;
  border: 1px solid #eaeaea;
}

.flex-start{
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  justify-content: space-around;
}

.flex-end{
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
.flex-200{
  flex-basis: 200px;
}

.flex-20{
  flex-basis: 40px;
}
/*border around person icon and number*/
.tasks-box{
  border: 1px solid grey;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2498f4
}

.border{
  border-bottom: 1px solid #e5e5e5;
}
.border-dots{
  border-bottom: 1px dotted #e5e5e5;
}


.word{
  width: 180px;
  color: #2498f4;
}

.word-1{
  width: 250px;
  padding-left: 10px;
  color: #777777
}


.word-1:hover{
  color: black;
}

.border-left{
  border-left: 2px solid #e5e5e5;
  padding-left: 20px;

}

.small-text{
  font-size: 10px;
  padding-bottom: 0 -10px;
}

.line-none::first-line{
  line-height: 0px;

}
.icon{
  padding-right: 10px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.circle {
      width:30px;
      height:30px;
      min-width: 30px;
      border-radius:50px;
      font-size:20px;
      color:#fff;
      line-height:30px;
      text-align:center;
      background:#32cc66;
      margin-right: 20px;
}

.tasks-text{
  margin-right: 30px;
}

.stats{
  grid-column: 4/7;
  grid-row:5/6;
}

.tiles{
  grid-column: 2/7;
  grid-row:6/7;
  background-color: #2498f4;
  padding: 25px;
}

.white-background{
  background-color: white;
  z-index: 0;
  border-radius: 3px;
  height: 160px;
  width: 270px;
  display: flex;
  position: relative;
}

.white-background img{
  position: absolute;
  z-index: 1;
}

.ad-text{
  z-index: 2;
  position: absolute;
}

#message{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  right: 0;
  width: 60%;
  padding-right: 5px;
}

#small{
  font-size: 11px;

}

#green-white{
  color: white;
  background-color: #33cc66;
  border-radius: 6px;
  height: 40px;
  width: 230px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#watch-what{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#orange-ad{
  background-image: url(../img/version.png);
  background-position: top right;
  background-repeat: no-repeat;
  color: #fe7f13;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#see-what{
  padding-bottom: 20px;
}

#orange-text{
  padding-right: 50%;
  padding-left: 10px;
  padding-bottom: 30px;
}

.footer{
  grid-column: 1/8;
  grid-row:7/8;
  background: yellow;
}

/*uses flex to center distribute*/
.center-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.outline{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
    z-index: 0;
    border: 1px solid grey;
    border-radius: 4px;
}

.z-2{
  z-index: 1;
  padding-left: -30px;
  margin-top: -30px;
  margin-left: -19px;
  margin-right: -19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.triangle{
  height: 50px;
}

select {
    border: 0px;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid grey;
    font-size: 15px;
    padding: 10px;
}

.custom-select{
  position: relative;
  font-family: verdana;
}



.chart {
  border: 1px solid #f5f5f5;
  padding-top: 20px;
  margin-top: 10px;

}

.center-align {
  float: center;
}
.banner{
  background-color: #2394ee;
  color: white;
  display: flex;
  text-align: center;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  line-height: 0px;
  margin-top: -5px;
}
.banner-container{
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex-wrap: wrap;
  align-content: center
}

.banner-header{
  font-size: 20px;
  line-height: 0px;
}

#green-text {
  font-size: 20px;
  color: #33cc66;
}

/*mobile responsive view*/
@media screen and (max-width:870px){
  .nav-pad1{
    padding-left: 0%;
  }
  .nav-pad2{
    padding-right: 0%;
  }
  .tasks, .stats{
    grid-column: 1/8;
  }

  .dashboard{
    grid-column: 1/8;;

  }
  .announce{
    grid-column: 1/8;
  }
  .stats {
    grid-row: 6/7;
  }
  .tiles{
    grid-row: 7/8;
    grid-column: 1/8;
  }
  .footer {
    grid-row:8/9;
  }

  .flex-start{
    justify-content: center;
  }
  .blue-large-text{
    text-align: center;
  }

}

@media screen and (max-width:982px){
.circle-graph{
  border: none;
  display: flex;
  flex-direction: row;
}
}

@media screen and (max-width:615px){

  .blue-large-text{
    font-size: 7vw;
  }
}

@media screen and (max-width:350px){
  .word{
    width: 90px;
  }
  @media screen and (max-width:250px){
    .word{
      width: 58px;
    }
}
/*testing another commit*/
